<body>
{%- if metric_stats %}
<div id="{{ metric }}-summary-table" class="box">
<h3>Metrics Summary</h3>
<p align="center">
<table align="center" class="sortable" style="border-collapse:collapse; border: 1px solid black;">
<thead bgcolor="lightseagreen"><tr>
{%- for header in metric_stats[0] %}
{%- if not loop.first %}
<th style="border: 1px solid black; color: white;" width="75px" height="40px">{{ header }}</th>
{%- else %}
<th style="border: 1px solid black; color: white;" height="40px">{{ header }}</th>
{%- endif %}
{%- endfor %}
</tr>
</thead>
<tbody>
{% for row in range(1,metric_stats|length) %}
<tr>
{%- for row_data in metric_stats[row] %}
{%- if loop.first %}
<td style="border: 1px solid black;"><a href="#{{ metric }}.{{ row_data }}.png">{{ row_data }}</a></td>
{%- else %}
<td style="border: 1px solid black;" align="right">{{ row_data }}</td>
{%- endif %}
{%- endfor %}
</tr>
{%- endfor %}
</tbody>
<tfoot></tfoot>
</table>
</p>
</div>
{%- endif %}

{%- if metric_plots %}
<div id="{{ metric }}-metric-plots" class="box">
<h3>Metric Plots</h3>
<p>
{%- for image in metric_plots %}
  <a href="#{{ metric }}-summary-table"><img src="{{ image }}" id="{{ image }}"/></a>
{%- endfor %}
</p>
</div>
{%- endif %}

{%- if correlated_plots %}
<div id="{{ metric }}-correlated-plots" class="box">
<h3>Correlated Metric Plots</h3>
<p>
{%- for image in correlated_plots %}
  <a href="#{{ metric }}-summary-table"><img src="{{ image }}" id="{{ image }}"/></a>
{%- endfor %}
</p>
</div>
{%- endif %}