<!DOCTYPE html>
<html>
  <head>
    {%- if report_title %}
      <title>{{ report_title }}</title>
    {%- else %}
      <title>naarad analysis report</title>
    {%- endif %}
    {%- if custom_javascript_includes %}
      {%- for custom_javascript in custom_javascript_includes %}
        <script type="text/javascript" src="{{ custom_javascript }}"></script>
      {%- endfor %}
    {%- endif %}
    {%- if custom_stylesheet_includes %}
      {%- for custom_stylesheet in custom_stylesheet_includes %}
        <link type="text/css" href="{{ custom_stylesheet }}"/>
      {%- endfor %}
    {%- endif %}
    <style>
      .box {border:2px solid #0094ff;}
      .box h2 {background:#0094ff;color:white;padding:10px;}
      .box p {color:#333;padding:10px;}
      .box {
        -moz-border-radius-topright:5px;
        -moz-border-radius-topleft:5px;
        -webkit-border-top-right-radius:5px;
        -webkit-border-top-left-radius:5px;
      }
    </style>
  </head>