<body>
{%- if metric_stats %}
<div id="{{ metric }}-summary-table" class="box">
<h2>Metrics Summary</h2>
<p align="center">
<table align="center" class="sortable" style="border-collapse:collapse; border: 1px solid black;">
<thead bgcolor="#0094ff"><tr>
{%- for header in metric_stats[0] %}
<th style="border: 1px solid black; color: white;">{{ header }}</th>
{%- endfor %}
</tr>
</thead>
<tbody>
{% for row in range(1,metric_stats|length) %}
<tr>
{%- for row_data in metric_stats[row] %}
{%- if loop.first %}
<td style="border: 1px solid black;"><a href="#{{ metric }}.{{ row_data }}.png">{{ row_data }}</a></td>
{%- else %}
<td style="border: 1px solid black;">{{ row_data }}</td>
{%- endif %}
{%- endfor %}
</tr>
{%- endfor %}
</tbody>
<tfoot></tfoot>
</table>
</p>
</div>
{%- endif %}

{%- if metric_plots %}
<div id="{{ metric }}-metric-plots" class="box">
<h2>Metric Plots</h2>
<p>
{%- for image in metric_plots %}
  <img src="{{ image }}" id="{{ image }}"/>
{%- endfor %}
</p>
</div>
{%- endif %}

{%- if correlated_plots %}
<div id="{{ metric }}-correlated-plots" class="box">
<h2>Correlated Metric Plots</h2>
<p>
{%- for image in correlated_plots %}
  <img src="{{ image }}" id="{{ image }}"/>
{%- endfor %}
</p>
</div>
{%- endif %}

</body>