<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="pure-menu-link">
        <span></span>
    </a>
    {%- if metric_list %}
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="https://github.com/linkedin/naarad">naarad</a>
            <ul>
                {% if summary_enabled %}
                <li><a href="summary_report.html">Summary</a></li>
                {% endif %}
                {%- for metric_name in metric_list %}
                {%- if metric_name == metric %}
                <li class="pure-menu-selected menu-item-divided">
                    <a href="{{ metric_name }}_report.html">{{ metric_name }}</a>
                </li>
                {%- else %}
                <li><a href="{{ metric_name }}_report.html">{{ metric_name }}</a></li>
                {%- endif %}
                {%- endfor %}
            </ul>
        </div>
    </div>
    {%- endif %}
    <div id="main">
{%- if metric_stats %}
<div id="{{ metric }}-summary-table" class="pure-u-1-1 box">
<h3>Metrics Summary</h3>
<table class="pure-table pure-table-bordered sortable">
<thead><tr>
{%- for header in metric_stats[0] %}
<th>{{ header }}</th>
{%- endfor %}
</tr>
</thead>
<tbody>
{% for row in range(1,metric_stats|length) %}
<tr>
{%- for row_data in metric_stats[row] %}
<!--<td><a href="#{{ metric }}.{{ row_data }}.png">{{ row_data }}</a></td>-->
<td>{{ row_data }}</td>
{%- endfor %}
</tr>
{%- endfor %}
</tbody>
<tfoot></tfoot>
</table>
</div>
{%- endif %}

{%- if metric_plots %}
<div id="{{ metric }}-metric-plots" class="pure-u-1-1 box">
<h3>Metric Plots</h3>
<p>
{%- for image in metric_plots %}
  <a href="#{{ metric }}-summary-table"><img src="{{ image }}" id="{{ image }}"/></a>
{%- endfor %}
</p>
</div>
{%- endif %}

{%- if svg_plots %}
{%- for svg_name in svg_plots %}
   <figure><embed type="image/svg+xml" src="{{ svg_name }}"/></figure>
{%- endfor %}
{%- endif %}

{%- if dyg_plots %}
{{ dyg_plots }}
{%- endif %}

{%- if correlated_plots %}
<div id="{{ metric }}-correlated-plots" class="pure-u-1-1 box">
<h3>Correlated Metric Plots</h3>
<p>
{%- for image in correlated_plots %}
  <a href="#{{ metric }}-summary-table"><img src="{{ image }}" id="{{ image }}"/></a>
{%- endfor %}
</p>
</div>
{%- endif %}
    </div>
</div>




